body {
	box-sizing: border-box;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

.whole {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.mapland {
	width: 60%;
	position: relative;
	margin-top: 20px;
	overflow: hidden;
}

#map {
	height: 660px;
    overflow: hidden;
}
.info {
	position: absolute;
	top: 60px;
	right: 20px;
	text-align: right;
}

.info input {
	margin: 5px;
}

#tofind {
	margin: 7px;
}